<div class="wrapper">
  <div>
    <div>
      <button class="button" (click)="chengeAppTheme()">Change Theme</button>
    </div>

    <div>
      <input (input)="onInputChange($event)">
      <ul>
        <li *ngFor="let message of messages$ | async">{{message.text}}</li>
      </ul>
    </div>

    <div>
      <ul>
        <li *ngFor="let number of numberList$ | async">{{ number }}</li>
      </ul>
    </div>
  </div>
  <div *ngIf="!(isConversationsLoading$ | async); else loading" class="last-task">
    <ul *ngFor="let conversation of conversations$ | async">{{conversation.name}}
      <li *ngFor="let message of conversation.messages">{{message.timestamp | date}} {{message.text}}</li>
    </ul>
  </div>

  <ng-template #loading>
    <span>LOADING...</span>
  </ng-template>

</div>
